* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid #000;
}

#element1 {
  width: 600px;
  height: 600px;
}

#element2 {
  width: 400px;
  height: 400px;
}

#element3 {
  width: 200px;
  height: 200px;
}
